h2{
    font-size: 18px;
}
h3{
    font-size: 18px;
}
main{
    color: #333;
}
.highlight{
    color: red;
}
#important-info{
    background-color: rgb(230, 230, 74);
}
a:hover{
    color: green;
}
a:active{
    color: orange;
}
input:focus{
    border: 2px solid blue;
}
section p:first-child{
    margin-top: 20px;
}
section p:last-child{
    background-color: #f0f0f0;
}
header > nav {
    background-color: #eaeaea;
} 
h2 + p{
    color: #666;
}
h2 ~ p{
    font-family: cursive;
}
p{
    color: green;
}
p.highlight{
    color: red;
}
aside{
    color: blue; !important
}
div{
    width: 400px;
    height: 200px;
    border: 2px solid #000;
}
img{
    width: 300px; 
    border: 3px solid #333; 
}
video{
    width: 500px;
    height: 280px;
}